.quickmenu {
  &__btn {
    font-size: 14px;
    font-weight: bold;
    color: gray;
    cursor: pointer;
    float: right;
    right: 7px;
    top: 7px;
    position: absolute;
    padding: 3px;

    &:hover {
      background: #9e9e9e85;
      border-radius: 3px;
    }
  }
}
