.card {
  position: relative;
  background-color: white;
  padding: 1px 15px;
  border-radius: 4px;
  line-height: 1;
  margin: 10px 0px;
  box-shadow: 0 1px 0 #ccc;
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: #f4f5f5;
  }

  &__btn {
    position: absolute;
    float: right;
    right: 3px;
    top: 3px;
    border-radius: 3px;
    display: none;
    border: none;
    color: #7b7a7a;
    background-color: #f4f5f5;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
    height: 20px;

    &:hover {
      background-color: #dfe3e6;
    }
  }

  &__title {
    font-size: 11px;
    color: #8c8c8c;

    &::after {
      content: "edit";
      float: right;
      display: none;
    }
  }

  &__description {
    font-size: smaller;
    color: #a076a6;
  }
}
